body {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin:0px;
    background-color:white;
}

header,footer {
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgba(0,0,0,0.07);
}

header {
    margin-bottom: 30px;
    padding: 12px 10px 12px 12px;
    border-bottom: solid 1px grey;
}
#logo {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    letter-spacing:0.2em;
    font-size:bigger;
    text-transform: uppercase;
}
#logo a {
    text-decoration: none;
    color: #042028;
}

nav {
padding-top:3px;
font-style: italic;
}

footer {
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    color: #555;
    font-size: smaller;
    margin-top: 30px;
    padding-left: 12px;
}

div.info {
    color: rgba(0,0,0,0.6);
    font-size: smaller;
    font-style: italic;
}

#by-line
{
    font-style: italic;
}
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: rgba(0,0,0,0.3);
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

p
{
//    max-width:100ex;
}

img
{
    max-width: 100%;
}

p.action
{
    max-width: 100ex;
    border: thin solid #FFFF66;
    background-color: #FFFFC9;
    font-style: italic;
}